<ul>
  <li>{{#if (eq pageId 'index')}}<span>Home</span>{{else}}<a href="/index.html">Home</a>{{/if}}</li>
  <li>{{#if (eq pageId 'research')}}<span>Research</span>{{else}}<a href="/research.html">Research</a>{{/if}}</li>
  <li>{{#if (eq pageId 'publications')}}<span>Publications</span>{{else}}<a href="/publications.html">Publications</a>{{/if}}</li>
  <li>{{#if (eq pageId 'teaching')}}<span>Teaching and Outreach</span>{{else}}<a href="/teaching.html">Teaching and Outreach</a>{{/if}}</li>
  <li>{{#if (eq pageId 'contact')}}<span>Contact</span>{{else}}<a href="/contact.html">Contact</a>{{/if}}</li>
</ul>
