<ul>
  <li>{{#if (eq pageId 'index')}}<span>Home</span>{{else}}<a href="/index.html">Home</a>{{/if}}</li>
  <li>{{#if (eq pageId 'research')}}<span>Research</span>{{else}}<a href="/research.html">Research</a>{{/if}}</li>
  <li>{{#if (eq pageId 'training')}}<span>Training</span>{{else}}<a href="/training.html">Training</a>{{/if}}</li>
   <li>{{#if (eq pageId 'outreach')}}<span>Outreach</span>{{else}}<a href="/outreach.html">Outreach</a>{{/if}}</li>
  <li>{{#if (eq pageId 'contact')}}<span>Contact</span>{{else}}<a href="/contact.html">Contact</a>{{/if}}</li>
</ul>
