.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 20px 20px 0;
	margin: 0 auto;
	max-width: 1280px;


	a {
		text-decoration: none;
	}

	&_wrapper {
		@media (max-width: 767px) {
			max-width: 75%;
		}

		a {
			letter-spacing: 0.15em;
		}

		p {
			margin: 0;
		}
	}

	@media (max-width: 767px) {
		flex-wrap: wrap;
	}

	@media (min-width: 768px) {
		padding-bottom: 30px;
	}

	.logo {
		display: inline-block;
		margin: 0 20px 0 0;
		color: $blue;
		font-weight: bold;
		font-size: 26px;
		min-width: 200px;

		@media (min-width: 768px) {
			font-size: 30px;
		}

		&:hover {
			text-decoration: none;
		}
	}
}
